.data-table {
  border-collapse: collapse;
  border-bottom: 3px solid #ddd;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

  &__item {
    padding: 10px;
  }
  &__head {
    background-color: #f2f2f2;
    border-bottom: 3px solid #ddd;
    cursor: pointer;
  }

  &__row {
    margin: 100px;
    border: 1px solid #ddd;
    &:hover {
      background-color: #ddd;
    }
  }
}
